#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .todo{
  
  background-color: lightgreen;
  padding: 10px;
  border-radius: 8px;
}

.todo-items {
  margin-top: 20px;
  padding: 10px 0;
  background-color: lightyellow;
  border-radius: 5px;
} */