.btn-one{
  padding:20px 25px;
  font-weight:bold;
  font-size:20px;
  color:white;
  background-color:skyblue;
  border:none;
  border-radius:8px;
  cursor:pointer;
}
.btn-one:hover{
  background-color:darkblue;
}

/* button 2 */
.btn-two{
  padding:20px 25px;
  font-weight:bold;
  font-size:20px;
  color:white;
  background-color:skyblue;
  border:none;
  border-radius:50px;
  cursor:pointer;
}
.btn-two:hover{
  background-color:darkblue;
}

/* button 3 */
.btn-three{
  padding:20px 25px;
  font-weight:bold;
  font-size:20px;
  color:darkblue;
  background-color:none;
  border:1px solid darkblue;
  border-radius:8px;
  cursor:pointer;
}

.btn-three:hover{
  background-color:darkblue;
  color:white;
}

/* button 4 */
.btn-four{
  padding:20px 25px;
  font-weight:bold;
  font-size:20px;
  color:white;
  background-color:skyblue;
  border:none;
  border-bottom:8px outset skyblue;
  border-radius:8px;
  cursor:pointer;
}

.btn-four:hover{
  background-color:lightblue;
/*   color:white; */
}

/* button 5 */
.btn-five{
  padding:20px 25px;
  font-weight:bold;
  font-size:20px;
  color:white;
  background-color:lightblue;
  border:none;
  border-radius:8px;
  cursor:not-allowed;
}

/* button 6 */
.btn-six{
  padding:20px 25px;
  font-weight:bold;
  font-size:20px;
  color:white;
  background-color:skyblue;
  border:1px solid darkblue;
  border-radius:8px;
  cursor:pointer;
}

.btn-six:hover{
  background-color:darkblue;
}

/* button 7 */
.btn-seven{
  background-color:white;
  padding:20px 25px;
  font-weight:bold;
  font-size:20px;
  color:black;
  border-radius:8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s ease;
  cursor:pointer;
}

.btn-seven:hover{
  background-color: #f3f4f6; 
}

/* button 8 & 9 */
nav{
  display:flex;
}
.btn-eight, .btn-nine{
  padding:20px 25px;
  font-weight:bold;
  font-size:20px;
  color:white;
  margin:20px 0;
  background-color:lightgray;
  border:none;
  cursor:pointer;
}
.btn-eight:hover, .btn-nine:hover{
  background-color:darkgray;
}
.btn-eight{
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}
.btn-nine{
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
}

/* button 10 */
.btn-ten{
  padding:20px 25px;
  font-weight:bold;
  font-size:20px;
  color:black;
  background-color:lightgray;
  border:none;
  border-radius:8px;
  cursor:pointer;
}
.btn-ten:hover{
  background-color:darkgray;
}